*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;

}

.material-icons{
    color: rgb(40, 37, 37);

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left img{
    width: 100px;
    margin-left: 15px;
}

.header-search{
    display: flex;
}
.header-search form{
    border: 1px solid #ddd;
    height: 35px;
    display: flex;
    
}

.header-search input{
    width: 500px;
    padding: 5px;
    border-radius: 40px;

}

.header-search button{
    height: 100%;
}

.search-mic{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* hero section */
.mainBody{
    height:calc(100vh-70px);
    display: flex;
    overflow: hidden;
}
.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;

}
.sidebar-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;

}
.sidebar-category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

/* sidebar end */

.recommand span{
    margin-top: 90px;
    margin-left: 10px;
    height: 100%;
    width: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding:  5px 5px;
    cursor: pointer;
}

.recommand span:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

/* video */

.videos{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25p;
    border-top: 1pa solid #ddd;

}

.videos-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.video{
    width: 310px;
    height: 170px;
    margin-bottom: 30px;
}

.video-thumbnail{
    width: 100%;
    height: 170px;

}
